.designer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.interface {
  height: 100%;
  background-color: #333333;
  color: #ffffff;
}

@media screen and (orientation: landscape) {
  .designer {
    flex-direction: row;
  }

  .interface {
    width: 100%;
    height: unset;
  }
}
